In [5]:
import pandas as pd

In [6]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [7]:
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [10]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
data['v1']=data["v1"].map({'ham':0, 'spam':1})

In [12]:
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
cv=CountVectorizer()

In [22]:
x=data['v2']
y=data['v1']

In [23]:
x.shape

(5572,)

In [24]:
y.shape

(5572,)

In [25]:
x=cv.fit_transform(x)

In [26]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [27]:
from sklearn.model_selection import train_test_split

In [30]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [32]:
x_train.shape

(4457, 8672)

In [34]:
from sklearn.naive_bayes import MultinomialNB

In [35]:
model=MultinomialNB()

In [36]:
model.fit(x_train, y_train)

MultinomialNB()

In [37]:
model.score(x_test, y_test)

0.9775784753363229

In [38]:
result=model.score(x_test, y_test)

In [39]:
result=result*100

In [40]:
result

97.75784753363229

In [41]:
import pickle

In [42]:
pickle.dump(model, open("spam.pkl","wb"))

In [43]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [44]:
clf=pickle.load(open("spam.pkl","rb"))

In [45]:
clf

MultinomialNB()

In [47]:
msg="Hello there"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]